.joinnow
{
    background-color: #eff6ff;
    padding: 140px 100px;

    display: flex;
    justify-content: center;
  
}

span{
    font-size: 70%;

}
.center {
    display: flex;
    justify-content: center;
  }
  .loginbutton{
    background: #004a9f;
    color: white;
  }
  
.login
{
    background-color: #ffffff;
    padding: 20px 30px;
}

@media screen and (max-width:600px)
{

    .joinnow
{
    padding: 140px 30px;
}
}
