
<nav class="navbar navbar-light">
    <div class="container-fluid">
      InfrasoftTech 

    </div>
    </nav><br><br>
<!--nav end-->


<!--form table start-->
    <div class="demo">
      <h5 class="text-center">Add Country page</h5>
<!--alert start-->

<div *ngIf="alert" class="alert alert-success d-flex align-items-center" role="alert">
  <strong>Success ! </strong>&nbsp; Your data save successfully
  <button (click)="CloseAlert()" type="button" class="close" data-dismis="alert" aria-label="Close">
  </button>
  <span aria-hidden="true">&times;</span>
</div>
      <!--alert start end-->


    <form #loginForm="ngForm">
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="countryId">ID</label>
<input type="text" class="form-control" required #countryId="ngModel" id="countryId" name="countryId" [(ngModel)]="countryDemo.countryId" ngModel >
<span *ngIf="countryId.invalid && countryId.touched" style="color: red;">Please enter country id</span><br><br>
          </div>

          <div class="col-md-6 mb-3">
            <label for="countryName">Name</label>
            <input type="text" class="form-control" required #countryName="ngModel" id="countryName" name="countryName" [(ngModel)]="countryDemo.countryName" ngModel >
            <span *ngIf="countryName.invalid && countryName.touched" style="color: red;">Please enter country name</span><br><br>

          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="countryDisplayName">Display Name</label>
            <input type="text" class="form-control" id="countryDisplayName" required #countryDisplayName="ngModel" name="countryDisplayName" [(ngModel)]="countryDemo.countryDisplayName" ngModel>
            <span *ngIf="countryDisplayName.invalid && countryDisplayName.touched" style="color: red;">Please enter Displname</span><br><br>

          </div>

          <div class="col-md-6 mb-3">
            <label for="countryAbbr">Abbreviations</label>
            <input type="text" class="form-control" id="countryAbbr" required #countryAbbr="ngModel" name="countryAbbr" [(ngModel)]="countryDemo.countryAbbr" ngModel>
            <span *ngIf="countryAbbr.invalid && countryAbbr.touched" style="color: red;">Please enter country Abbr</span><br><br>

          </div>
        </div>

        <button [disabled]="loginForm.invalid" type="submit" class="save"  (click)="AddCountry()">Save Form</button>
      </form>



            </div>